<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<!-- favicon 설정 -->
<!-- <link rel="icon" href="http://localhost/images/favicon.ico"> -->
<!-- bootstrap CDN -->
<link rel="stylesheet" type="text/css"
href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css">
<style type="text/css">


</style>


<!-- jquery CDN -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

<script type="text/javascript">
$(function() {

});
</script>

</head>
<body class="p-5">
  <div class="container">
    <h2 class="mb-4">강의 등록</h2>

    <form id="courseForm" enctype="multipart/form-data">
      <div class="mb-3">
        <label for="courseTitle" class="form-label">강의 제목</label>
        <input type="text" class="form-control" id="courseTitle" name="courseTitle" required>
      </div>

      <div class="mb-3">
        <label for="introduction" class="form-label">강의 소개</label>
        <textarea class="form-control" id="introduction" name="introduction" rows="3" required></textarea>
      </div>

      <div class="mb-3">
        <label class="form-label">공개 여부</label>
        <select class="form-select" id="isPublic" name="isPublic">
          <option value="Y">공개</option>
          <option value="N">비공개</option>
        </select>
      </div>

<!--       <div class="mb-3"> -->
<!--         <label class="form-label">플래그</label> -->
<!--         <select class="form-select" id="flag" name="flag"> -->
<!--           <option value="A">진행중</option> -->
<!--           <option value="B">완료</option> -->
<!--           <option value="C">기타</option> -->
<!--         </select> -->
<!--       </div> -->

      <button type="submit" class="btn btn-primary">강의 등록</button>
    </form>
  </div>

</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$('#courseForm').on('submit', function(e){
	const formData = new FormData(this);
	e.preventDefault();
	
	$.ajax({
		url:'/upload/upload_course',
		type:'POST',
		data:formData,
		dataType:'JSON',
		processData: false,
 	    contentType: false,
 	    success: function(res){
 	    	
 	    	if(res.status === 'success'){
 	    		alert(res.msg);
 	    		
 	    		const c = res.courseData;
 	    		sessionStorage.setItem('newCourse', JSON.stringify(c));
 	    		
 	    		
 	    		window.location.href = '/ui/upload_frm';
 	    	}else{
 	    		alert("에러발생"+res.msg);
 	    	}
 	    },
 	    error:function(xhr, status, err){
 	    	alert("에러발생 : " + err);
 	    }
		
	});//ajax
	
});//ajaxscript
</script>
</html>